
.vbox-login {
    -fx-background-color: white;  /* Fond blanc */
    -fx-background-radius: 15px;  /* Coins arrondis */
    -fx-padding: 20px;  /* Espacement interne */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 2, 2); /* Ombre légère */
    -fx-alignment: center;
}
.logo {
    -fx-fit-width: 180px;  /* Ajuste la largeur */
    -fx-fit-height: 50px;  /* Ajuste la hauteur */
}
.border-pane {
    -fx-background-image: url("/assets/backgroun-log.jpg"); /* Remplace par le chemin de ton image */
    -fx-background-size: cover; /* L’image couvre tout le BorderPane */
    -fx-background-position: center; /* Centre l’image */
    -fx-background-repeat: no-repeat; /* Empêche la répétition */
}

.field-login{
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
}
.button {
    -fx-pref-width: 300px;
    -fx-pref-height: 45px;
    -fx-font-size: 16px;
    -fx-background-color: #0A56C4;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-font-family: "Outfit";
    -fx-font-size: 17px;
}

.button:hover {
    -fx-background-color: #0849A1;
}
@font-face {
    font-family: "Outfit";
    src: url("/assets/Outfit.ttf");
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.options label {
    color: #555;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: #0056b3;
}