.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #0CBEB8;
    -fx-background-radius: 30;
    -fx-cursor: hand;

}

.username-box {
    -fx-padding: 8px 15px; /* Espacement intérieur */
    -fx-font-size: 16px; /* Taille du texte */
    -fx-text-fill: #333333; /* Texte gris foncé */
    -fx-font-weight: bold; /* Texte en gras */
}

.button-selected {
    -fx-background-color: #0CBEB8; /* Fond turquoise */
    -fx-pref-height: 50px; /* Hauteur */
    -fx-background-radius: 10px; /* Coins arrondis */
    -fx-text-fill: white; /* Texte blanc */
    -fx-font-family: "Outfit";
    -fx-font-size: 17px;

    -fx-alignment: CENTER-LEFT; /* Aligner le texte à gauche */
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-spacing: 10px; /* Espacement entre l'icône et le texte */

}
.button-non-selected {
    -fx-background-color: transparent; /* Fond transparent */
    -fx-text-fill: #000000; /* Texte noir */
    -fx-font-family: "Outfit";
    -fx-font-size: 17px;

    -fx-alignment: CENTER-LEFT; /* Aligner le texte à gauche */
    -fx-padding: 10px 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-spacing: 10px; /* Espacement entre l'icône et le texte */
    -fx-pref-width: 250px; /* Largeur fixe */
}

@font-face {
    font-family: "Outfit";
    src: url("/assets/Outfit.ttf");
}
.label{
    -fx-font-family: "Outfit";
}

.center-layout {
    -fx-background-color: #E9E9E9;
}

.element-ajout {
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 22;
}

.element-home {
    -fx-background-color: white;
}

.element-stat {
    -fx-background-color: white;
    -fx-background-radius: 22;
}

.text-field {
    -fx-background-color: #E4E4E4;
    -fx-background-radius: 7;
    -fx-border-color: transparent;
    -fx-border-radius: 7;
}

.add-button{
    -fx-background-color: #0CBEB8;
    -fx-background-radius: 7;
    -fx-cursor: hand;

}
.add-button1{
    -fx-background-color: transparent;
    -fx-background-radius: 7;
    -fx-cursor: hand;

}

.split-pane {
    -fx-background-color: #F9F9F9;
}

.custom-button {
    -fx-background-color: #0CBEB8;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
    -fx-pref-width: 150px;
    -fx-pref-height: 150px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.pane-hover:hover {
    -fx-background-color: #0AA89F;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-cursor: hand;

}

.custom-button:hover {
    -fx-background-color: #0AA89F;
    -fx-cursor: hand;
}

.custom-button:pressed {
    -fx-background-color: #09998E;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: blue;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
    -fx-padding: 2 0 0 0;
}

